.navbar {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 170px;
    background-color: #EDE7E3;
    padding: 0 20px;
    border-bottom: 25px solid #FFCD2A;
  }

  .navbar-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }

  .icons {
    padding-top: 5px;
    height: 60px;
    margin: 10px;  
  }

  .navbar a {
    color: #000000;
    text-decoration: none;
    
  }

  .navbar-bottom {
    padding: 0%;
    align-items: center;
  }

  .navbar-bottom img {
    height: 60%;
  }

  .navlinks{
    margin-left: 2%;
    margin-right: 2%;
    font-size: medium;
  }