#root {
  width: 100%; /* Set to full width */
  margin: 0 auto;
  text-align: center;
  padding: 0;
  overflow-x: hidden; /* Prevents horizontal scrolling */
}

html, body {
  background-color: #EDE7E3;
  padding: 0;
  margin: 0;
  width: 100%; /* Ensures full width */
  overflow-x: hidden; /* Prevents any overflow horizontally */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Additional Fix */
body {
  box-sizing: border-box; /* Ensures consistent box model calculations */
}

* {
  box-sizing: inherit; /* Applies box-sizing to all elements */
}

.sandwitch {
  position: relative;
}

.sandwitch img {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  transition: .5s ease;
  opacity: 1;
  color: white;
  padding: 20px;
  color: #FFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-shadow: 0px 4px 4px color(display-p3 0 0 0 / 0.25);
  font-size: 25px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

.learnmoresplit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding: 1% 15% 1% 15%;
  background-color: #F5BC00;
  margin-bottom: 250px;
}

.learnmoresplit p {
  font-weight: bold;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-shadow: 0px 4px 4px color(display-p3 0 0 0 / 0.25);
}

.learnmoresplit .headtext {
  font-size: 15px;
  margin: 5px 0px 0px 0px;
  font-weight: bold;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-shadow: 0px 4px 4px color(display-p3 0 0 0 / 0.25);
}

.learnmoresplit .subheadtext {
  font-weight: lighter;
  margin: 0px 0px 5px 0px;
  font-weight: bold;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-shadow: 0px 4px 4px color(display-p3 0 0 0 / 0.25);
}

.learnmoresplit .button-out {
  display: flex;
  align-items: center;
  justify-content: center;
}

.learnmoresplit .buttonsi {
  padding: 0px 25px;
  height: 60px;
  border: 2px solid white;
  background: none;
  border-radius: 0px;
}

@media (min-width: 768px) { /* Adjust breakpoint as needed */
  .overlay {
    font-size: 40px;
  }

  .learnmoresplit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding: 1% 20% 1% 20%;
    background-color: #F5BC00;
    margin-bottom: 150px;
  }

  .learnmoresplit p {
    font-weight: bold;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-shadow: 0px 4px 4px color(display-p3 0 0 0 / 0.25);
  }
  
  .learnmoresplit .headtext {
    font-size: 30px;
    margin: 5px 0px 0px 0px;
    font-weight: bold;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-shadow: 0px 4px 4px color(display-p3 0 0 0 / 0.25);
  }
  
  .learnmoresplit .subheadtext {
    font-weight: lighter;
    margin: 0px 0px 5px 0px;
    font-weight: bold;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-shadow: 0px 4px 4px color(display-p3 0 0 0 / 0.25);
  }
}
